form.searchbar {
    @include d-flex-center;
    margin: auto;
    
    @include md {
        width: 70%;
    }

    input {
        position: relative;
        width: 100%;
        padding: 10px;
    }
    
    > div {
        width: 100%;
    }
}

div#launches {
    position: relative;
    background-color: white;
    border-radius: $b-radius-1;
    margin: auto;
    margin-top: $base-margin;
    max-height: calc(100vh - 450px);
    overflow-y: auto;

    @include md {
        width: 70%;
    }

    ul {
        padding: $base-padding * 3;

        li {
            margin: ($base-margin / 5) 0;

            .list-item:first-child {
                padding-top: 0;
            }

            .list-item {
                @include d-flex;
                position: relative;
                gap: $base-gap;
                background-color: white;
                padding: $base-padding 0;

                > img {
                    height: 50px;
                    width: 50px;
                }

                .mission {
                    font-weight: 700;
                    margin-bottom: 0;
                }

                &:hover {
                    @include bg-color-hover-shadow(white);
                }
            }

        }
    }
}